.gallery__section {
  display: grid;
  grid-template-areas: 'cards' 'button';

  & .button {
    grid-area: button;
    justify-self: center;
  }
}

.gallery {
  display: grid;
  grid-area: cards;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
  gap: 10px;

  justify-items: center;
  align-items: center;

  padding: 20px;

  height: 100%;
  width: 100%;
}

.photo-card {
  box-shadow: -2px 5px 5px -2px rgba(0, 0, 0, 0.5);
}

.gallery__image {
  object-fit: cover;
}

.info {
}

.info-item {
  border-bottom: 1px solid black;

  padding-left: 3px;
}
